/* { * } is applyed for all the html */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;1,300&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* main textutils logo  */
.logo img {
  text-decoration: none;
  color: black;
  size: 30px;
  font-size: 1.4rem;
  max-width: 213px;
  max-height: 80px;
}

.navitems {
  text-decoration: none;
  color: white;
}

.navitems li:hover {
  color: skyblue;
}

body {
  overflow-x: hidden;
  transition: background 0.8s;

}

body.dark {
  background-color: #292c35;
  transition: background 0.8s;
}

/* css used for navigetion bar */
.navelements {

  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  color: black;
  align-items: center;
  display: flex;
  list-style-type: none;
  height: 56px;
  background-color: #292c35;
  /* background-color: #f8f9fa; */
  transition: background 0.8s;

}

nav ul {

  width: 100%;
}

body.dark ul {
  transition: background 0.8s;
  background-color: #464d51;
  /* other color options */
  /* background-color: #000000; */
  /* background-color: #3b4147; */
  /* background-image: linear-gradient(274deg, #7F8E89 17%, #292c35 72%); */


}

/* nav > li where targeted */
nav li {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

body.dark li {
  color: white;
}

/* h1 is targeted */
.starterline h1 {
  color: #042743;
  display: flex;
  position: absolute;
  font-size: 30px;
  margin: 0px 0px 8px;
  margin-block-start: 0.67em;
  margin-block-end: -2em;
  margin-inline-start: 126px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  left: 20px;

}

body.dark h1 {
  color: white;
}

/* inner side of text area */
.TextWriter {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  top: 70px;
  left: 122px;
  padding: 6px;
  border: 1px solid blue;
  text-decoration: none;
  border-radius: 9px;
  font-size: 18px;
  /* overflow: hidden; */
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  width: 74%;
}

.TextWriter:focus {
  border: 4px solid #c2dbfe;

}

body.dark.TextWriter {
  background-color: #6fc8c5;
  border: 1px solid white;

}

body.dark.TextWriter:focus {
  border: 4px solid #c2dbfe;

}

/* where text actually typed */
TextUtils {
  position: absolute;
  outline-width: none;
  border-color: solid royalblue;
  border-width: 20px;
  border-radius: 7px;
  padding-top: 6px;
  padding-left: 2px;
}

h2 {
  display: flex;
  position: relative;
  color: black;
  /* position: absolute; */
  top: 116px;
  left: 125px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h3 {
  display: flex;
  position: relative;
  top: 132px;
  left: 125px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body.dark h2 {
  color: white;
}

body.dark h3 {
  color: white;
}

/* button designing */

/* sign up btn css */

.sign_upbtn {
  padding: 8px;
  text-decoration: none;
  border: 0px solid skyblue;
  outline: none;
  color: black;
  /* color: rgb(255, 255, 255); */
  background: #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 0.25rem;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  right: 70px;
}

body.dark .sign_upbtn {
  color: white;
}

.sign_upbtn:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingsign_upbtn {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.sign_upbtn:active {
  color: #000;
}

.sign_upbtn:active:after {
  background: transparent;

}

.sign_upbtn:hover:before {
  opacity: 1;
}

.sign_upbtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #191919; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* end of sign up button css */
.bn5 {
  padding: 8px;
  text-decoration: none;
  border: 0px solid skyblue;
  outline: none;
  color: black;
  /* color: white; */
  /* color: rgb(255, 255, 255); */
  background: #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
  position: relative;
  top: 90px;
  left: 128px;
  z-index: 0;
  border-radius: 0.25rem;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

.bn5:hover {
  color: white;
}

body.dark .bn5:hover {
  color: #000;
}

/* css for dark mode button */
body.dark .bn5 {
  color: white;
}

.bn5:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;

}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.Switch {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 0vh;
  right: 23px;
  bottom: 28px;
  position: relative;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* css for switch */
.label {
  box-sizing: border-box;
  /* background-color: white; */
  background-color: #464d51;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  border-radius: 50px;
  height: 26px;
  width: 50px;
}

body.dark label {
  background-color: #292c35;
}

.Checkbox {
  opacity: 0;
  position: absolute;
}

.fa-sun {
  color: #29f500;
}

.fa-moon {
  color: white;
}

.boll {
  background-color: #0d6efd;
  /* background-color: black; */
  border-radius: 50%;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  position: absolute;
  transition: transform 0.3s linear;

}

body.dark .boll {
  /* background-color: white; */
  background-color: #0d6efd;
}

.boll:hover {
  background-color: #0d6efd;
}

body.dark .boll:hover {

  background-color: #0d6efd;
}

.Checkbox:checked+.label .boll {
  /*when checkbox checked like if condition*/
  transform: translateX(24px);
}

/* .noselect for anonying selection of button */
.noselect {
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#show {
  position: relative;
  left: 8px;
}

.counter {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/* footer starts here */
footer ul {
  display: inline-block;
  align-items: center;
}

.footer-in {
  position: absolute;
  list-style-type: none;
  bottom: 0;
  right: 0;
  width: 100%;
  /* background-color: cyan; */
  background-color: paleturquoise;
  /* margin: 0 auto; */
}

.footer-in a {
  text-decoration: none;
}

footer ul a li {
  display: inline-block;
  padding: 9px;
  text-decoration: none;
  color: #000;
}

footer ul a li:hover {
  color: grey;
}

body.dark .footer-in {
  /* background-color: cyan; */
  background-color: paleturquoise;

}

body.dark footer ul a li {
  color: #000;
}

body.dark footer ul a li:hover {
  color: grey;
}